.cate-primary {
    background-image: url("../images/bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 16px;
    padding-bottom: 30px;

    &__breacrumb {
        flex-wrap: wrap;
    }
}
.cate-secondary {
    padding-bottom: 60px;
    &__container {
    }
    &__left {
        flex: 1;
    }
    &__right {
        width: 324px;
        padding-left: 24px;
        border-left: 1px solid #e0e0e0;
    }
    &__top {
        padding-bottom: 30px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e0e0e0;
        & .articles__large {
            grid-column: 1/3;
        }
        & .articles__small {
            & .article {
                padding: 24px 0;
                border-bottom: 1px solid #e0e0e0;

                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
    }
}
.pagination {
    &-item {
        width: 46px;
        height: 42px;
        + .pagination-item {
            margin-left: 8px;
        }
        border-radius: 3px;
        border: 1px solid #e2e2e2;
        background-color: #f1f9ff;
        transition: all 0.2s;
        &:hover {
            background-color: #1955a6;
            color: #fff;
        }
        &.active {
            background-color: #1955a6;
            color: #fff;
        }
    }
    &-link {
        padding: 10px 15px;
        display: inline-block;
    }
}

.box-event {
    position: relative;
    max-width: 300px;

    & .swiper-pagination {
        top: 4px;
        bottom: auto;
        text-align: right;
    }
    & .swiper-pagination-bullet {
        width: 1rem;
        height: 0.25rem;
        border-radius: 0;
        background: #adb7c5;
    }
    & .swiper-pagination-bullet-active {
        background: #1955a6;
    }
}
.most-read {
    &__list {
        .most-read__item {
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        .most-read__number {
            flex-shrink: 0;
        }
        .most-read__content {
            flex: 1;
        }
    }
}

.cmt-box-cate {
    &__img {
        flex-shrink: 0;
        margin-top: 4px;
        img {
            width: 18px;
            height: auto !important;
        }
    }
}

// introduce info
.introduce-info-primary {
    background-color: #1955a6;
    height: 400px;

    .image-1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        img {
            height: 100%;
            width: auto;
        }
    }
    .image-2 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 30%;
        img {
            height: 100%;
            width: 100%;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 10;
        height: 100%;
        justify-content: center;
    }
}

.introduce-info-secondary {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        img {
            height: 100%;
            width: auto;
        }
    }
    &__container {
        position: relative;
        z-index: 20;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__title2 {
        font-size: 46px;
    }
}

.introduce-info-tertiary {
    background-color: #f1f9ff;
    &__container {
        padding-top: 60px;
        padding-bottom: 140px;
    }
    &__bg {
        position: absolute;
        top: 0;
        right: -146px;
    }
    .left {
        position: relative;
        z-index: 10;
        width: 55%;
        .list-text {
            .icon {
                width: 40px;
                height: 40px;
                background-color: #0772b5;
                border-radius: 999px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 16px;
                    height: auto;
                }
            }
        }
    }

    .right {
        position: relative;
        z-index: 10;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .image-wrapper {
            padding-bottom: 120%;
        }
        .article-img {
            width: 357px;
        }
    }
}

.introduce-info-quaternary {
    background-color: #f1f9ff;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40%;
        background-color: #fff;
    }

    .article {
        background-color: #1955a6;
        padding: 30px 20px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-image: url("../images/circle-wave-2.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.introduce-info-quinary {
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        max-width: 800px;
    }

    &__heading {
        text-align: right;
    }

    &__content {
        margin-top: -50px;

        .article {
            padding-bottom: 16px;
        }
        .article-img {
            width: 260px;
            border-radius: 999px;
            overflow: hidden;
        }

        .article-content {
            position: absolute;
            bottom: 0;
            left: 240px;
            right: 0;
            padding-left: 60px;
        }
        .article-quotation {
            position: absolute;
            top: -12px;
            left: -10px;

            img {
                width: 50px;
                height: auto;
            }
        }

        .article-location {
            font-style: italic;
        }
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -30px;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: #1955a6;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #fff;
        border: 1px solid #1955a6;
    }
}

.introduce-info-senary {
    padding-top: 60px;
    padding-bottom: 60px;

    &__tab {
        flex-wrap: wrap;
        gap: 20px 60px;

        .tab-item {
            cursor: pointer;
            font-weight: 500;
            &.active {
                color: #1955a6;
            }
        }
    }
    &__pane {
    }
}
.tab-pane {
    &.hidden {
        display: none;
    }
    &.active {
        display: block;
    }
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    .image-item {
        &:first-child {
            grid-column: 1/4;
        }

        &:nth-child(n + 5) {
            // display: none;
        }
    }
}

.introduce-info-septenary {
    padding-bottom: 60px;

    &__container {
        iframe {
            width: 100%;
            max-width: 1920px;
        }
    }
}

.investors {
    position: relative;
    &-wrapper {
        background-color: #f1f9ff;
        position: relative;
        // height: 100%;
        padding: 60px 20px;
    }

    .investor-container {
        max-width: 654px;
        margin: auto;
    }

    .investor-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    .investor-item {
        width: 30%;
        padding: 10px;
        display: flex;

        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 5px;

        img {
            object-fit: contain;
            height: 80px;
            width: auto;
        }
    }
}

// introduce pro
.introduce-pro-secondary {
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #f1f9ff;
}
.cate-doctor-primary {
    &__select {
        gap: 12px;
    }
    &__selectItem,
    &__selectItemBtn {
        height: 38px;
        padding: 6px 24px;
        border-radius: 4px;

        background-position-x: 96%;
        background-position-y: 16px;
    }
    &__selectDepartment {
        max-width: 32%;
    }
}

.introduce-pro-tertiary {
    background-color: #f1f9ff;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        background-color: #fff;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        pointer-events: none;
        user-select: none;
    }

    &__container {
        padding: 100px 30px;

        .right {
            .btn {
                padding: 10px 30px;
            }

            .footer-fixed__booking {
                &:hover {
                    color: #73be44;
                }
            }
        }
    }
}

.swiper-gallery {
    .swiper-tab {
        position: relative;
        .swiper-slide {
            width: auto !important;
            cursor: pointer;
            display: inline-block;
            font-weight: 500;
            padding: 20px 10px;
            border-bottom: 2px solid transparent;
        }

        .swiper-slide-thumb-active {
            color: #1955a6;
            border-bottom-color: #1955a6;
        }

        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: 0;
            right: auto;
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: 0;
            left: auto;
        }
        .swiper-button-next,
        .swiper-button-prev {
            width: 32px;
            height: 100%;
            color: #fff;
            top: 0;
            bottom: 0;
            margin-top: 0;
            background: linear-gradient(270deg, #b0e2ff 28.12%, #eff9ff 100%);
        }
        .swiper-button-prev {
            background: linear-gradient(270deg, #eff9ff 28.12%, #b0e2ff 100%);
        }
        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            display: none;
        }
        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after {
            content: "\290D";
            font-size: 20px;
        }
        .swiper-button-prev:after,
        .swiper-rtl .swiper-button-next:after {
            content: "\290C";
            font-size: 20px;
        }
    }
}
