.header {
    z-index: 100;
    &-top {
        &__container {
            .left {
                &-select {
                }
            }

            .right {
                .search {
                    width: 100%;
                    max-width: 175px;
                    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);

                    & .search-input {
                        background-color: #fff;
                        border-radius: 999px;
                        padding: 0.5rem 0.625rem 0.5rem 1.75rem;
                        font-family: "Arial";

                        &::placeholder {
                            color: #333;
                        }
                    }
                    & .search-btn {
                        top: 50%;
                        left: 0.625rem;
                        transform: translateY(-50%);
                    }
                }

                .login {
                    &-img {
                        width: 30px;
                        height: 30px;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 999px;
                        }
                    }
                }
            }
        }
    }

    &-bot {
        .logo {
            img {
                height: 70px;
                width: auto !important;
            }
        }
    }

    &.sticky {
        .header-bot {
            position: fixed;
            background-color: #fff;
            left: 0;
            right: 0;
            top: 0;
            z-index: 100;
            width: 100%;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

            .logo img {
                height: 40px;
                width: auto !important;
            }
        }

        .navbar-menu-mb {
            position: fixed;
            background-color: #fff;
            left: 0;
            right: 0;
            top: 0;
            z-index: 100;
            width: 100%;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
    }
}
.social {
    gap: 6px;
    &-link {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgba($color: #0772b5, $alpha: 0.1);
        }

        img {
            height: 14px;
            width: auto;
        }
    }
}
.language {
    position: relative;
    &-default {
        cursor: pointer;
        &.active {
            ~ .language-list {
                display: block;
            }
        }
    }
    &-list {
        display: none;
        background-color: #fff;
        position: absolute;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        top: 46px;
        left: auto;
        right: 0;
        min-width: 150px;
        max-height: 300px;
        overflow: auto;
        z-index: 200;
    }
    &-item {
        cursor: pointer;
        justify-content: space-between;
        padding: 5px 10px;
        &:hover {
            background-color: #e3e3e3;
        }
    }
    &-img {
        width: 20px;
        height: 20px;
        border-radius: 999px;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url("../images/svg/Polygon-gray.svg");
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 13px;
    padding-right: 27px !important;
    font-family: "Arial";
}

.navbar {
    &-item {
        position: relative;

        &:hover {
            .navbar-dropdown {
                display: block;
            }
        }

        &:last-child {
            .navbar-dropdown {
                right: 0;
                left: auto;
            }
        }

        &--more {
            padding-left: 24px;
            border-left: 1px solid #e5e5e5;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #666666;
                right: -15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &-link {
        font-weight: 500;
    }

    &-dropdown {
        position: absolute;
        min-width: 180px;
        background-color: #fff;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        top: calc(100% + 16px);
        left: 0;
        z-index: 20;
        display: none;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 20px;
            background-color: transparent;
            top: -20px;
            left: 0;
            right: 0;
        }

        &__link {
            margin: 8px 10px;
            padding-left: 14px;
            display: block;
            color: #333;
            font-weight: 400;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 2px;
                height: 100%;
                background-color: #d4d4d4;
            }

            &:hover {
                color: #0772b5;
                font-weight: 500;
                &::before {
                    background-color: #73be44;
                }
            }
        }
    }
}
.overlay {
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    will-change: opacity;
}
.header-mb {
    &__top {
        padding: 7px 15px 7px 0;
        background-color: #eff9ff;
    }

    &__center {
        .logo {
            img {
                height: 40px;
                width: auto;
            }
        }
        .search {
            &-icon {
                width: 30px;
                height: 30px;
                border: 1px solid #b0c4d9;
                border-radius: 999px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 12px;
                    height: auto;
                }
            }
        }
    }
}
.sub-menu {
    &__content {
        position: fixed;
        left: 0;
        top: 0;
        width: 17.5rem;
        height: 100%;
        background-color: #1955a6;
        z-index: 100;
        box-shadow: 0px 11px 15px -7px rgba(var(--ipt-baseAlt-rgb), 0.2),
            0px 24px 38px 3px rgba(var(--ipt-baseAlt-rgb), 0.14),
            0px 9px 46px 8px rgba(var(--ipt-baseAlt-rgb), 0.12);
        transform: translateX(-100%);
        transition: all 0.2s ease;
    }

    &__close {
        width: 3rem;
        height: 3rem;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__container {
        height: calc(100% - 100px);
        overflow: auto;
    }
    &__item {
        &.active .heading-sub__arrow svg {
            color: #fff;
            transform: rotate(-90deg);
        }
    }
    &.active &__content {
        transform: translate(0);
    }
    &.active .overlay {
        opacity: 1;
        visibility: visible;
        z-index: 99;
    }
}
.heading-sub__arrow svg {
    transition: all 0.2s ease 0s;
    transform: rotate(90deg);
}
.list-sub {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.item-sub {
    &__link {
        display: flex;
        padding: 0.5rem 1rem 0.5rem 3.125rem;
        color: #fff;
    }
    &:last-child .item-sub__link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    }
}

// mobile
.header-search-mb__form {
    background-color: #1955a6;
    height: 60px;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    &.active {
        top: 48px;
        opacity: 1;
        visibility: visible;
    }
}
.header-search-input {
    padding-right: 3.5rem;
    &::placeholder {
        color: #fff;
    }
}
.header-search-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.navbar-mb {
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
    /* width */
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }

    & .navbar-item {
        + .navbar-item {
            margin-left: 1.25rem;
        }
    }
}
.navbar-scroll-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 100%;
    background: linear-gradient(270deg, #c7c5c5 28.12%, #ffffff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
