@media (min-width: 2100px) {
    .introduce-info-primary {
        .image-1 {
            img {
                height: 100%;
                width: auto;
                position: absolute;
                left: 20%;
            }
        }
    }
}
// max width 1536px
@media (max-width: 1536px) {
    .d-2xl-none {
        display: none;
    }
    .d-2xl-block {
        display: block;
    }
    .d-2xl-flex {
        display: flex;
    }
    .d-2xl-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index
    .main-tertiary {
        &__top {
            .left {
                padding: 30px;
            }
            .right {
                padding-left: 80px;
            }
        }
    }

    // --------------------------------------------------------------------cate
    .cate-primary {
        &__breacrumb {
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow: auto;
        }
    }
    .introduce-info-primary {
        .image-1 {
            left: -20%;
        }
    }

    // --------------------------------------------------------------------detail
}
// max width 1280px
@media (max-width: 1280px) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index
    .introduce-info-primary {
        &__container {
            padding: 20px;
        }
    }

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail
}
// max width 1024px
@media (max-width: 1024px) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header
    .heading-primary {
        font-size: 32px;
    }
    .heading-tertiary {
        font-size: 34px;
    }

    // --------------------------------------------------------------------index

    .main-secondary {
        padding-left: 20px;
        padding-right: 20px;

        &__content {
            .article {
                padding: 20px;
            }
            .article-content {
                margin-top: 20px;
            }
            .article-title-1 {
                font-size: 20px;
            }
            .article-title-2 {
                font-size: 32px;
            }
            .article-img {
                .image-2 {
                    width: 60px;
                }
            }
        }
    }

    .main-tertiary {
        padding: 60px 20px;

        .right {
            .image-wrapper {
                padding-bottom: 80%;
            }
        }
    }

    .main-quinary {
        &__content {
        }
        .article-img {
            .image-2 {
                width: 60px;
            }
        }
    }

    // --------------------------------------------------------------------cate

    .introduce-info-primary {
        .image-1 {
            left: -45%;
        }
        &__container {
            padding: 20px;
        }

        &__title2 {
            font-size: 34px;
        }
    }
    .introduce-info-secondary {
        &__title1 {
            font-size: 32px;
        }
        &__title2 {
            font-size: 34px;
        }
    }
    .introduce-info-tertiary {
        &__container {
            padding-bottom: 100px;
        }
        &__bg {
            right: -190px;
        }
        .list-text {
            .icon {
                flex-shrink: 0;
            }
            .text {
                font-size: 18px;
            }
        }
    }

    // --------------------------------------------------------------------detail
    .detail-2-primary {
        .detail-content {
            padding-left: 0;
        }
    }
    .detail-introduce-seconary {
        &__pane {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

// max width 992px
@media (max-width: 992px) {
    // --------------------------------------------------------------------header
    // --------------------------------------------------------------------index
    .main-primary {
        &__container {
            display: block;
        }
        &__right {
            .bg {
                height: 300px;
                margin: auto;
            }
        }
    }
    // --------------------------------------------------------------------cate
    // --------------------------------------------------------------------detail
    // --------------------------------------------------------------------footer
}
// max width 768px
@media (max-width: 768px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header
    .language-list {
        top: 32px;
    }
    .heading-primary {
        font-size: 28px;
    }
    .heading-tertiary {
        font-size: 30px;
    }
    // --------------------------------------------------------------------index

    .main-secondary {
        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .main-tertiary {
        .right {
            .image-wrapper {
                padding-bottom: 100%;
            }
        }
        &__bot {
            margin-top: 60px;
        }
    }

    .main-quaternary {
        .article-content {
            padding: 30px 20px;
        }
    }

    .main-quinary {
        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .main-senary {
        &__slide {
            .article-content {
                padding: 30px 30px 60px;
            }
        }
    }
    .main-septenary {
        &__content {
            .article-large {
                .article-content {
                    padding: 20px;
                }
            }

            .article-small {
                .article-content {
                    padding: 15px;
                }
            }
        }
    }
    .main-octonary {
        &__container {
            display: block;
        }

        &__left {
            padding-bottom: 20px;
        }

        &__right {
            margin-right: 0;

            iframe {
                width: 100%;
                height: 400px;
            }
        }
    }
    // --------------------------------------------------------------------cate
    .cate-secondary {
        &__container {
            // display: block;
            grid-gap: 20px;
        }
        &__right {
            width: 280px;
            padding-left: 20px;
        }

        &__top {
            display: block;

            .articles__small {
                margin-top: 20px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;

                .article {
                    padding: 0;
                    border-bottom: 0;
                }
            }
        }
    }
    .introduce-info-primary {
        .image-1 {
            left: -70%;
        }
    }
    .introduce-info-secondary {
        &__title1 {
            font-size: 28px;
        }

        &__title2 {
            font-size: 30px;
        }
    }
    .introduce-info-tertiary {
        .left {
            padding-right: 15px;
        }
        .list-text {
            .text {
                font-size: 16px;
            }
        }
    }
    // pro
    .introduce-pro-tertiary {
        &__container {
            display: block;
            .left {
                .title-1 {
                    font-size: 28px;
                }
            }

            .right {
                margin: 20px auto 0;
            }
        }
    }
    // --------------------------------------------------------------------detail

    // -------------------------------------------------------------------- footer
    .footer-fixed {
        bottom: 10rem;
        padding: 0;
        background-color: transparent;

        &__inner {
            display: block;
            text-align: center;

            .back-top {
                margin-bottom: 4px;
                span {
                    font-size: 13px;
                    font-weight: normal;
                }
            }
        }

        &__booking {
            display: flex;

            &-inner {
                font-size: 13px;
                font-weight: normal;
            }
        }
        &__call {
            max-width: 110px;
            font-size: 12px;
            font-weight: normal;
        }
    }
}

// max width 640px
@media (max-width: 640px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }

    // --------------------------------------------------------------------header
    .heading-primary {
        font-size: 24px;
    }
    .heading-tertiary {
        font-size: 24px;
    }
    .heading-quaternary {
        font-size: 24px;
    }
    .w-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    // --------------------------------------------------------------------index
    .main-primary {
        background-image: url("../images/bg_1.1.png");
        &__left {
            padding: 20px 0;

            .title-2 {
                font-size: 36px;
            }
            .booking {
                margin-top: 12px;
            }
        }
        &__right {
            .bg {
                height: 260px;
                margin: auto;
            }
        }
    }

    .main-secondary {
        padding: 30px 15px 60px;

        &__container {
            .article {
                padding: 20px 10px;
            }
        }
    }

    .main-tertiary {
        padding: 0 0 30px;
        &__top {
            width: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            .left {
                width: calc(100% - 30px);
                position: relative;
                transform: none;
                order: 2;
                margin: -40px auto 0;
                padding: 40px 15px;
            }
            .right {
                order: 1;
                padding-left: 0;

                .image-wrapper {
                    padding-bottom: 60%;
                }
            }
        }

        &__bot {
            margin-top: 30px;
            padding-left: 15px;
            padding-right: 15px;

            .article {
                padding: 0;
                margin-bottom: auto;
            }
            .article-img {
                img {
                    width: 40px;
                }
            }
            .article-content {
                margin-top: 24px;
            }

            .article-title {
                font-size: 14px;
            }

            .article-des {
                font-size: 14px;
                margin-top: 14px;
            }
        }
    }

    .main-quaternary {
        padding: 0 0 40px;

        &__container {
            display: block;
        }

        .article-content {
            padding: 30px 15px 40px;
        }

        .article-item {
            font-size: 16px;
            padding: 12px 0;
        }

        .image-wrapper {
            background-color: #73be44;
            position: relative;
            img {
                padding-left: 15px;
                padding-right: 15px;
            }
            &::before {
                content: "";
                width: 100%;
                height: 40px;
                background-color: #1f315d;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }

    .main-quinary {
        &__content {
            grid-template-columns: 1fr;
        }
        .article-img {
            // .image-1 {
            //     max-height: 100%;
            // }
        }
        &__slide {
            .swiper-horizontal > .swiper-pagination-bullets,
            .swiper-pagination-bullets.swiper-pagination-horizontal,
            .swiper-pagination-custom,
            .swiper-pagination-fraction {
                bottom: 20px;
            }

            .swiper-button-next,
            .swiper-button-prev {
                top: 35%;
            }
        }
    }

    .main-senary {
        padding: 30px 0 0;
        background-size: auto;
        .heading-primary {
            margin-left: 15px;
            margin-right: 15px;
        }
        .article {
            display: block;

            .image-wrapper {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        &__slide {
            .article-content {
                padding: 20px 15px 60px;
            }
        }
        &__button {
            left: 15px;
        }
    }

    .main-septenary {
        padding: 40px 0 20px;
        .heading-primary {
            margin-left: 15px;
            margin-right: 15px;
        }
        &__content {
            margin-top: 20px;
            display: block;
        }

        .article-large {
            .article-content {
                padding: 15px;
            }
            .article-title {
                font-size: 20px;
            }
        }

        .article-small {
            .article-top {
                .article-content {
                    background-color: #eff9ff;
                }
                .article-title {
                    font-size: 20px;
                }
            }
        }
        .article-bot {
            display: block;
            padding: 15px;

            .article {
                display: flex;
                padding: 15px 0;
                border-bottom: 1px solid #e5e5e5;

                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    border-bottom: 0;
                }
            }

            .article-img {
                flex-shrink: 0;
                width: 35%;
            }
            .article-content {
                padding: 0 0 0 10px;
            }
            .article-title {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    .main-octonary {
        &__left {
            padding-top: 30px;
        }

        &__title {
            margin-top: 20px;
        }
        &__right {
            iframe {
                height: 300px;
            }
        }
    }
    // --------------------------------------------------------------------cate
    .cate-primary {
        padding-bottom: 16px;
        background-image: url(../images/bg_1.2.png);
        &__breacrumb {
            display: none;
        }
    }
    .cate-secondary {
        padding: 0 0 40px;
        margin-top: 0;
        &__container {
            display: block;
        }

        &__left {
            .articles__large {
                .article__content {
                    padding: 15px;
                }
                .article__title {
                    font-size: 24px;
                }

                .time-public {
                    display: none;
                }

                .article__des {
                    margin-top: 12px;
                    line-height: 160%;
                }
            }

            .articles__small {
                display: block;
                padding-left: 15px;
                padding-right: 15px;

                .article {
                    padding: 20px 0;
                    border-bottom: 1px solid #d6d6d6;
                }
                .article__title {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .articles {
                padding-left: 15px;
                padding-right: 15px;

                .article {
                    display: block;
                }

                .article__img {
                    width: 100%;
                }

                .article__content {
                    padding-left: 0;
                    padding-top: 12px;
                }
                .article__title {
                    font-weight: bold;
                }
                .article__des {
                    padding-top: 12px;
                    line-height: 160%;
                }
                .time-public {
                    display: none;
                }
            }
        }
        &__top {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;

            .articles__small {
                .article {
                    &:last-child {
                        border-bottom: 1px solid #d6d6d6;
                        padding-bottom: 20px;
                    }
                }
            }
        }

        &__right {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 30px;
            border-left: none;
            display: none;
        }
    }
    .pagination {
        padding-left: 15px;
        padding-right: 15px;
        flex-wrap: wrap;

        &-item {
            margin-right: 8px;
            margin-bottom: 8px;
            & + .pagination-item {
                margin-left: 0;
            }
        }
    }
    .box-event {
        max-width: 100%;
    }
    .introduce-info-primary {
        height: 600px;
        .image-1 {
            left: 0;
            bottom: auto;

            img {
                height: auto;
                width: 100%;
            }
        }
        .image-2 {
            top: auto;
            right: 0;
            bottom: 0;
            left: 0;
            img {
                height: 100%;
                width: 100%;
            }
        }

        &__container {
            padding: 40px 15px;
            display: block;
        }
        &__inner {
            width: 100%;
        }
    }
    .introduce-info-secondary {
        padding-bottom: 30px;
        &__bg {
            bottom: auto;
        }
        &__container {
            display: block;
        }
        &__title1 {
            font-size: 24px;
        }
        &__title2 {
            font-size: 40px;
        }
        .right {
            margin-top: 50px;
        }
    }

    .introduce-info-tertiary {
        padding: 0 0 30px;
        &__bg {
            right: 0;
            left: 0;
            top: 180px;
        }
        &__container {
            flex-direction: column;
            padding-bottom: 0;
            padding-top: 0;
            .left {
                order: 2;
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                margin-top: 30px;
            }
            .right {
                order: 1;
            }
        }
        .introduce-info-secondary__title2 {
            font-size: 24px;
            margin-top: 12px;
        }
        .list-text {
            .text {
                font-size: 20px;
                line-height: 140%;
            }
        }
    }
    .introduce-info-quaternary {
        background-color: #fff;
        padding-top: 40px;

        &__content {
            grid-template-columns: 1fr;
            gap: 10px;
        }
        .introduce-info-quaternary .article {
            padding: 20px 15px;
        }
    }
    .introduce-info-quinary {
        padding-top: 40px;
        padding-bottom: 40px;
        &__heading {
            text-align: left;
        }
        .introduce-info-secondary__title2 {
            font-size: 24px;
        }
        &__content {
            .article {
                display: block;
            }
            .article-img {
                width: 160px;
                margin-left: auto;
                position: relative;
                z-index: 2;
            }
            .article-content {
                position: relative;
                bottom: unset;
                left: unset;
                right: unset;
                padding: 55px 26px;
                margin-top: -50px;
            }
            .article-quotation {
                left: 10px;
            }
        }
        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: 30px;
        }
    }
    .image-container {
        grid-gap: 10px;
    }
    .introduce-info-senary {
        padding-top: 0;
    }
    .introduce-info-senary-2 {
        padding-top: 40px;
    } 
    .investors-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .investors {
        .investor-list {
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow: auto;
            gap: 12px;
            justify-content: unset;
        }
        .investor-item {
            flex-shrink: 0;
            width: 50%;
        }
    }
    .cate-doctor-primary {
        &__select {
            display: grid;
            grid-template-columns: 1fr;
        }
        &__selectItem {
            width: 100%;
            max-width: 100%;
        }
    }
    .introduce-pro-tertiary {
        &__container {
            padding: 50px 15px;
        }
        .left {
            .title-1,
            .title-2 {
                font-size: 24px;
            }
        }
        .right {
            width: 50%;
        }
    }
    // --------------------------------------------------------------------detail
    .detail-navbar {
        &__container {
            gap: 12px;
        }
        .navbar-item {
            &:nth-child(2) {
                padding-left: 12px;
            }
        }
    }
    .navbar-item--more {
        padding-left: 12px;
    }
    .detail-content {
        & > h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        & > h3 {
            font-size: 22px;
            margin-bottom: 20px;
        }
        & > h4 {
            font-size: 20px;
            margin-bottom: 20px;
        }
        & > h5 {
            font-size: 18px;
            margin-bottom: 20px;
        }
        & > h6 {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .detail-content--secondary > h2::before,
    .detail-content--secondary > h3::before,
    .detail-content--secondary > h4::before,
    .detail-content--secondary > h5::before,
    .detail-content--secondary > h6::before {
        width: 5px;
        height: 28px;
        left: 3px;
    }
    .detail-content--secondary > h2::after,
    .detail-content--secondary > h3::after,
    .detail-content--secondary > h4::after,
    .detail-content--secondary > h5::after,
    .detail-content--secondary > h6::after {
        width: 5px;
        height: 28px;
        left: 5px;
    }

    .detail-author {
        &__text {
            display: block;
        }

        &__text1 {
            padding-left: 0;
            margin-bottom: 2px;
            &::before {
                content: none;
            }
        }
    }
    .detail-title {
        font-size: 32px;
    }
    .related-news {
        padding-top: 40px;
        padding-bottom: 40px;

        &__content {
            margin-top: 20px;
            .article {
                &:first-child {
                    margin-left: -15px;
                    margin-right: -15px;
                    background-color: #eff9ff;
                    display: block;
                    padding-top: 0;
                    padding-bottom: 0;

                    .article__img {
                        width: 100%;
                    }

                    .article__content {
                        padding: 14px 15px;
                    }

                    .article__des {
                        line-height: 160%;
                    }
                }

                &:nth-child(n + 2) {
                    .article__content {
                        padding: 0 0 0 10px;
                    }
                    .article__title {
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .article__img {
                        flex-shrink: 0;
                        width: 35%;
                    }
                    .article__des {
                        display: none;
                    }
                }
                .time-public {
                    display: none;
                }
            }
        }
    }
    .detail-introduce-primary {
        background-image: url(../images/bg_1.1.png);

        &__left {
            .article {
                display: block;
            }
        }
    }

    .detail-introduce-primary {
        padding-top: 20px;

        .article-img {
            width: 100%;
        }

        .article-content {
            margin-top: 20px;
        }
    }
    .detail-introduce-seconary {
        padding: 0 0 30px;
        &__container {
            background-color: transparent;
        }
        .swiper-tab {
            margin-left: 15px;
            margin-right: 15px;
        }
        &__pane {
            background-color: #eff9ff;
        }
    }

    .introduce-pro-secondary {
        &__top {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .detail-2-primary {
        padding-left: 15px;
        padding-right: 15px;

        .detail-title {
            font-size: 32px;
            letter-spacing: 0;
        }
        .detail-content {
            & > h2 {
                font-size: 24px;
                margin-bottom: 20px;
            }
            & > h3 {
                font-size: 22px;
                margin-bottom: 20px;
            }
            & > h4 {
                font-size: 20px;
                margin-bottom: 20px;
            }
            & > h5 {
                font-size: 18px;
                margin-bottom: 20px;
            }
            & > h6 {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        .articles {
            padding-left: 0;
            padding-right: 0;

            .article {
                display: flex;

                .article__img {
                    width: 35%;
                }
                .article__content {
                    padding: 0 0 0 10px;
                }

                .article__title {
                    font-size: 16px;
                    font-weight: 500;
                }

                .article__des {
                    display: none;
                }
            }
        }
    }
    .detail-tags {
        white-space: nowrap;
        flex-wrap: nowrap !important;
    }
    .other-news {
        &__container {
            .article {
                &:first-child {
                    margin-left: -15px;
                    margin-right: -15px;
                    background-color: #eff9ff;
                    display: block;
                    padding-top: 0;
                    padding-bottom: 0;

                    .article__img {
                        width: 100%;
                    }

                    .article__content {
                        padding: 14px 15px;
                    }

                    .article__des {
                        line-height: 160%;
                    }
                }

                &:nth-child(n + 2) {
                    .article__content {
                        padding: 0 0 0 10px;
                    }
                    .article__title {
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .article__img {
                        flex-shrink: 0;
                        width: 35%;
                    }
                    .article__des {
                        display: none;
                    }
                }
                .time-public {
                    display: none;
                }
            }
        }
    }
    // --------------------------------------------------------------------footer
    .footer {
        &-container {
            padding: 20px 15px 40px;
        }

        &-inner {
            display: block;
        }

        &-left {
            display: block;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #d6d6d6;

            &__text {
                margin-left: 0;
                margin-top: 20px;
                p {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
